body{
    background-image: url(img/moto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0   ;
    }


img{
    padding: 0% 5%;
    background-color: white;
   
}

button{
    background-color: black;
    color: white;
    font-size: 200%;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration: solid;
    color: black;
    
 }  

 p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .money{
    color: rgb(38, 209, 38);
    text-decoration: underline;
    margin: 1%;
 }

 .container{
    padding: 0px 25px
 }

 #navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    background-color: rgb(14, 12, 12);
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.9%;
    padding-left: 1%;
    margin: 0;
    }
   li a{
        color: white;
        text-decoration: solid;
    }

    #pagamento{
        justify-content: right;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(243, 253, 253);
        background-color: black;
        
    }

    .money:hover{
        color: rgb(18, 102, 18);
    }

    li a:hover{
        color: rgb(135, 206, 42);
    }

    button:hover{
        color: rgb(243, 10, 10);
    }

    tr{
        border-style: groove;
        border-color: rgb(20, 224, 224);
    }

   h1{
    margin: 0;
    color: rgb(245, 245, 245);
   }